@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Users
@using Crm.CEP.Web.Pages.Journey
@using Crm.CEP.Web.WorkFlowSignal

@model IndexModel

@section styles {
    <abp-style src="/Pages/Index.css" />
}


@section scripts
{
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
     <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    

<script src="~/plugins/humanize-duration.js"></script> 
  <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment/moment-timezone-with-data.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <abp-script src="/Pages/Journey/Index.js" />
    }
<section class="content-header">
    <h1 class="Wo-List">
        @Html.Raw("Journey Register")
 
        <small></small>
    </h1>
 
</section>
<section class="content">
    <!-- Asset Register Filter -->
    <div class="box2">

        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="field-required">Segment Name</label>
                       @* <select class="form-control" id="fltr_segment" style="width: 100%;">
                            <option value="0">--Select Segment--</option>
                        </select>*@
                        
                        <select class="form-control" id="fltr_parent" style="width: 100%; ">
                            <option value="" selected disabled>--Select Segment--</option>
                            @foreach(var segment in Model.DropdownSegment)
                            {
                                <option value="@segment.Id">@segment.Name</option>
                              
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="field-required">Journey</label>
                        <select class="form-control select2" id="fltr_journey" style="width: 100%;">
                            <option value="0">--Select--</option>
                            <option value="1">AssignCoupon</option>
                        </select>
                    </div>
                </div>
             
                </div>
                
                <div class="row "> 
                    <div class="col-md-12 ">
                     <abp-button id="Mapbtn"
                                text="Map"
                            
                                button-type="Primary" />
                      </div>
                </div>
                
            </div>
           </div>
           

     

</section>
<script type="text/javascript">
  
</script>